<hr class="separator">

<blockquote>
  <!--p class="read-more">
    <span class="unicode-char heart">♥</span>
    Gostou desse texto?
    <a href="http://aurelio.net/blog/sumario/">Aqui tem mais</a>.
  </p-->
  <p class="article-tags">
    Tags:
    {% for tag in page.tags %}
      <a href="{{ site.url | append: site.baseurl | append: '/tags/' }}#{{ tag | remove: ',' }}">{{ tag }}</a>
    {% endfor %}
  </p>
  <p class="share">
    Compartilhe:
    <a target="_blank" rel="nofollow" href="http://twitter.com/home?status={{ page.title | url_encode }}%20{{ page.url | absolute_url }}">Twitter</a>,
    <a target="_blank" rel="nofollow" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]={{ page.url | absolute_url }}&amp;p[images][0]=&amp;p[title]={{ page.title | url_encode }}&amp;p[summary]={{ page.excerpt | url_encode }}">Facebook</a>,
    <a target="_blank" rel="nofollow" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | absolute_url }}">LinkedIn</a>
  </p>
  <!--p class="subscribe">
    Assine o blog via
    <a href="{{ '/feed.xml' | absolute_url }}">RSS</a>
     ou <a href="https://feedburner.google.com/fb/a/mailverify?uri=AurelioJargas&amp;loc=pt_BR">receba os textos por e-mail</a>.
  </p-->
</blockquote>

<hr class="separator">
